<%- include('templates/header'); -%>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto text-dark" href="javascript:history.back()">Back</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main" class="mt-5">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <% info.images.forEach(function(img){ %>
                <div class="swiper-slide">
                  <img src="<%= img.path %>" alt="<%= img.alt %>">
                </div>
                <% }); %>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-description">
              <h2>Overview</h2>
              <p>
               <%= info.overview %>
              </p>
            </div>
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: <%= info.category %></li>
                <li><strong>Company Name</strong>: <%= info.company_name %></li>
                <li><strong>Company Website</strong>:<a href="<%= info.company_website %>"><%= info.company_website %></a></li>
                <li><strong>Project Date</strong>: <%= info.project_date %></li>
                <li><strong>Job Position</strong>: <%= info.role %></li>
                <li><strong>Job Type</strong>: <%= info.type %></li>
                <li><strong>Project Info</strong>: <a href="<%= info.project_url %>"><%= info.project_url  %></a></li>

              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>